*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* box - sizing - that control how the width and height 
                           of and element should be calculates
                           
                           default : content-box
            content-box : width +paddinng -right + padding -left + border-right+border-left =
            100 + 20 +20 + 4+4=148
            border-box : width ==100 */
}
#div{
    border: 1px solid black;
    margin: 10px;
}
#div2{
    border: 4px solid black;
    height: 40px;
    width: 100px;
    padding: 2px;
}