*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* box - sizing - that control how the width and height 
                           of an element should be calculates
                           
                           default : content-box
                    width- 100
                    padding -20px 
                    border -4px
            content-box : width +paddinng -right + padding -left + border-right+border-left =
                          100 + 20 +20 + 4+4=148
            border-box : 56 +20+20+4=100 */
}
#div{
    border: 1px solid black;
    margin: 10px; 
}
#div2{
    border: 4px solid black;
    height: 40px;
    width: 100px;
    padding: 2px;
    /* box-sizing: border-box; */
}
.parent{
    background-color: blue;

}
.child{
    border: 1px solid red;
}
/*  Desender selector -- which style both direct and indirect child */
/* .parent .child{
    color: beige;
} */

/* child selector -- which style only direct child */
 .parent>.child{
    color:aliceblue;

 }

 /*  adjacent sibling selector -- select only immediate sibling/adjacent element */
 /* .d1 + p{
    background-color: red;
 } */


 /*  general sibling -- select only immediate sibling / adjacent element  */
 .d1 ~ p{
    background-color: blue;
 }
/* attribute selector */
 input[type="text"]{
    background-color: aqua;

 }

 .A1543{
    color:yellowgreen;
 }

 /*

 Note : names need to start with a-z ,A-Z, _ , -
 id ---#
 class --- .
 element ---tagName
 grouping -- s1,s2,s3
 universal --- * 
 descendent---p c-- all childs
 child--- p>c -- only direct child 
 adjacent sibling --- brother sibling +sister ---->  next sister
 general sibling ----brother~sister ---> all sister
 attribute selector --- select for attribute 
  */