*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*  for static top , bottom , left , right won't applicable 
    in htmldocument every element is static by default
 */
#_static{
    width: 200px;
    height:200px ;
    background-color: red;
    top: 20px;
    left: 40px;
    /* position: static; */
}
/*  for static top , bottom , left , right won't applicable 
    we can move elements from its original position
 */
#_relative{
    width: 200px;
    height:200px ;
    background-color: green;
    top: 40px;
    left: 50px;
    position: relative;
}

.relative{
    width: 200px;
    height: 200px;
    position: relative;
}
.box1{
    background-color: red;
    top: 100px;
    left: 40px;
    z-index: 6;
}
.box2{
    background-color: blue;
    left: 100px;
    z-index: 1;
}
.box3{
    background-color: darkorange;
    left: 140px;
    bottom: 80px;
    z-index: 10;
}
#_fixed{
    background-color: pink;
    height: 40px;
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;

}
/*  it is a combination of relative + fixed
    it acts like normally until a point(scroll) , then behaves like fixed
     */
#_sticky{
    background-color: black;
    height:40px ;
    position: sticky;
    top: 0;
    z-index: 10000;

}

#parent{
    width: 800px;
    height: 800px;
    border: 1px solid black;
    background-color: grey;
    position: relative;

}
#_absolute{
    width: 200px;
    height: 100px;
    border-radius: 50%;
    background-color: tomato;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
}